apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: research-cruise-app-staging
resources:
  - ../../base
  - ingress.yaml
  - configmap.yaml

patches:
  - path: backend/configmap-patch.yaml
  - path: frontend/configmap-patch.yaml
  - path: frontend/deployment-patch.yaml
